.left {
    clear:both;
    width:30%;
    float:left;
    font-size: 18px;
}

.right {
    width: 65%;
    float: right;
    padding-right: 30px;
    padding-bottom: 20px;
    display: block; 
   
} 

body {
    /* background-color: lightgoldenrodyellow; */
    font-family: monospace;
    font-size: 16px;
}

