
/* nav {
    background-color: darkred;
    color: white;
    height: 60px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2%;
} */

a{
    color: white;
    margin: 10px;
}

input {
    font-size: 18px;
    font-weight: bold;
    background-color: darkred;
    color: white;
}

textarea {
    font-size: 16px;
    width: 280px;
    
}
.shorttext { display: none; }


@media (max-width: 640px) {
    .shorttext { display: inline-block; }
    .fulltext { display: none; }
}
.right {
    float: right;
}