* {
  box-sizing: border-box;
}
.main {
    min-height: calc(100vh - 70px);
  }

.footer {
   
    margin-right: 0;
    background-color: transparent;
    position: absolute;
    
    bottom: 0;
    height: 50px;
    width: 100%;
}
  

.fa{
    font-size: 30px;    
  }
.social-footer {
  padding: 2rem;  
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: right;
    -ms-flex-align: right;
      align-items: right;
  -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
      justify-content: flex-end;
 }
 
 .social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
 }
 
 .social-footer .social-footer-icons .fa {
  font-size: 2.5rem;
  color: #fefefe;
 }
 
 .social-footer .social-footer-icons .fa:hover {
  color: darkslategray;
  transition: color 0.3s ease-in;
 }
h1,h2 {
  color: black;
}

.dark { color: black;}

 #name {
    height: 100%;
    width: 100%;
    display: block;
    word-wrap: break-word;
    position: relative;
  
  }



a {  
  color: white;
}

  a:focus {
  color: #999999;
  }
  a:hover {
  color:rgb(219, 148, 41);
  }

body {
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Muli', sans-serif;
  /* background: linear-gradient(115deg, orange, cyan 70%, whitesmoke); */
  color: white;
 
  }

  .retroshadow {
    color: #2c2c2c;
    background-color: #d5d5d5;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
  }

  .note{
    
    color: black;
    display: block;  
    word-wrap: break-word;
    
   

   
  }
  
 .about { 
   border-color: black;
   border-style: solid;
   border-width: 2px;
 }

  h3 {

    margin-left: 60px;
    font-style: italic;
  }

  .custom  {
    margin-top:2%;
    padding-top:0;
    padding-bottom:0;
    background: transparent;
    color: black;   
    font-size: 20px;
    /* text-decoration: underline; */
    border-radius: 260px;
  }
  .custom1 {
    margin-top:2%;
    padding-top:0;
    padding-bottom:0;
    background: transparent;
    color: black;   
    font-size: 20px;
    float: right;
    border-radius: 260px;
  }
.extn-button {
  background-color: black;
}
.close-button {
  color: black;
  position: fixed;

}
.button:hover {
  background-color: grey; 
  
}  
.button:focus {
  background-color: grey;
}
.button:active {
  background: grey;
}
.clickme {
    text-decoration: underline;
    color: white;
  
}

.design {
 background: transparent;  

}
.tag {
  color: rgb(122, 102, 48);
}
.black {
   color: rgb(158, 127, 80);
   text-decoration: underline;
   font-size: 16px;
}
.dark {
   color: white;
}
.sharp{
  color: black;
}
.visible {
  font-weight: bold;
  

}
.resume {
  padding-left: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  background-color: white;
}
.left {
  float: left;
  padding: 0 20px 20px 0;
  
 }

.simple1 {
  background-color: black;
  color: white;
}

.left1 {

   float:left;
}
 .right {
  float: right;
  padding: 0 20px 20px 0;
 }

.projects-main {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: black;
  color: white;
 
}

.projects {
  padding-top: 1rem;
 
  
}


.linked {
   border-radius: 50%;
   height: 100px;
   width: 100px;
}

.code-main {
  background-color: black;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5%;
  padding-right: 15%;
  padding-left: 15%;
}
.white {
  color: white;
  font-weight: bold;
  font-size: 25px;
}
pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
 }