/* homepage */

html, 
body {
   margin:0;
   padding:0;
   height:100%;
   width: 100%;
   font-family: 'Slabo 27px', serif;
   overflow-x: hidden; 
   
} 
  
h6{
  font-weight: bold;
  font-family: 'Slabo 27px', serif;
}
.game {
  
color:#fe59c2;
  text-decoration: underline;
  font-family: 'Slabo 27px', serif;
  font-size: 22px; 
  background: transparent;
}
/* @media (max-width: 380px) {

  .game {
  
     color: yellow;
      text-decoration: underline;
      font-family: 'Slabo 27px', serif;
      font-size: 20px;
      background: transparent;
    }

} */


.intro {
  font-style: italic;
   padding-right: 25px; 
  background: -webkit-linear-gradient(  yellow,  ivory, cyan, cornsilk, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
    
}
  
@media (max-width: 1270px) {
.intro {
  font-style: italic;
  padding-right: 25px;
  background: -webkit-linear-gradient(yellow,ivory, cyan,coral, orange,pink, lime, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}

}
.container {
   min-height:100%;
   position:relative;
   font-family: 'Slabo 27px', serif;
   
   
}
.no-scroll {
  overflow: hidden;
  
}
.scroll {
  overflow: auto;
  height: 100%;
 }



header {
  background: transparent;
  padding:10px;
  margin-bottom: 0;
}


footer {
 
  position:absolute;
  bottom: 0;
  left: 0;
  width:100%;
  height:30px;   /* Height of the footer */
  background: black;
}
nav {
  margin-left: 1%;
}

    

@media (max-width: 640px){
  .footer {
   
    padding-bottom: 2rem;
    position: absolute;
    left: 0;
    line-height: 1;
    bottom: 0;
    height: 30px;
    width: 100%;
    background: black;
    
}
}

.fa{
    font-size: 30px;    
  }
.social-footer {
  padding: 2rem;  
  padding-top: 0; 
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: right;
    -ms-flex-align: right;
      align-items: right;
  -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
      justify-content: flex-end;
 }
 
 .social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
 }
 
 
 .me {
  font-size: 1.5rem;
  color: white;
}

 @media (max-width: 1340px ){

  h1 {
    color: black;
    font-family: 'Slabo 27px', serif;
    

  }
}  
.about:hover {
  font-size: 150%;
  font-family: 'Slabo 27px', serif;
}
h1 {

  color: ivory;
  font-size: 5rem;
  font-family: 'Slabo 27px', serif;
}
@media (max-width: 1050px){
   h1 {
    font-size:4rem;
    
    

  }
}

@media (max-width:640px) {
  h1 {
    font-size:2rem;
    font-family: 'Slabo 27px', serif;
    

  }
}

.hidden {
  display: none;
}

.norm {
  font-size: 16px;
}

 
a {
  cursor: pointer;
}



@media (max-width: 850px) {
.color {
  color: darkblue;
}
}
@media (max-width: 640px){
  .color {
    color: white;
  }
}
.tut {
  font-size: 22px;
}
.shorttext { display: none; }


@media (max-width: 640px) {
    .shorttext { display: inline-block; }
    .fulltext { display: none; }
}
.dark { color: black;}

 #name {
    height: 100%;
    width: 100%;
    display: block;
    word-wrap: break-word;
    position: relative; 
    padding-top: 7%;
    padding-left: 18%; 
    padding-right:40%; 
   
    
  }

@media (max-width:800px){
  #name {
    height: 100%;
    width: 100%;
    display: block;
   word-wrap: break-word;
    position: relative;
    padding-top: 35%;
   padding-right:25%;
   
    
  }

}
audio {
  background: transparent;
  width: 150px;
  height: 10px;
  
  
}

@media (max-width:680px) {
  audio {
    background:black;
    width: 250px;
    height: 10px;
    padding-left: 10px;
    padding-right: 10px; 
  }

}
a {  
  color: white;
}

  a:focus {
  color: #999999;
  }
  a:hover {
  color:rgb(219, 148, 41);
  }

body {
 
  height: auto;
  width: auto; 
  
  
  font-family: 'Slabo 27px', serif;
 
  color: white;
  background-color: black;
  /* background: linear-gradient(115deg, orange, cyan 70%, whitesmoke); */
  

  }

  .retroshadow {
    color: #2c2c2c;
    background-color: #d5d5d5;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
  }

  .note{
    
    color: white;
    background-color: black;
    display: block;  
    word-wrap: break-word;
    padding-right: 5%;
    padding-left: 5%;
    text-align: justify;
    
  }
.codepage {
  padding-left: 7%;
  padding-right: 7%;
}
 .move {
   margin-right:5%;
   
 }

header {

	background: transparent;
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
  left: 0;

}

.back {
  background:black;
}

  .custom  {
    margin-top:1%;
    
    padding-top:0;
    padding-bottom:0;
    background: transparent;
    color:rgb(244, 200, 66);
    font-size: 16px; 
    
    /* text-decoration: underline; */
    border-radius: 260px;
  }
 
 
  
  .extn-button {
    background-color: black;
  }
.close-button {
  color: white;
  font-weight: bold;
  position: fixed;
  margin-right: 3%;

}

.button:hover {
  background-color: grey; 
  
}  
.button:focus {
  background-color: grey;
}
.button:active {
  background: grey;
}
.clickme {
   
    color: white;
    text-decoration: underline;
  
}

.design {
 background: black;
 padding-left: 7%;
 padding-right: 7%;
 padding-bottom: 5%;  
 text-align: justify;
 text-justify: inter-word;


}

.design1{

background: transparent;
 padding-top: 15%;
 padding-left: 7%;
 padding-right: 7%;
 padding-bottom: 5%;  
 text-align: justify;
 text-justify: inter-word;

}





.notes:hover {
  font-size:150%;
}
.tag {
  color:rgb(244, 200, 66);
}
.black {
   color: rgb(244, 200, 66); 
   font-size: 16px;
}
@media (max-width: 640px) { 
 .black {
   color:#0d961d
 }
}

.dark {
   color: white;
}
.sharp{
  color: black;
}
.sharp1 {
  color: darkblue;
}



.resume {
  padding-left: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  background-color: white;
  
}
.left {
  float: left;
  padding: 0 20px 20px 0;
  
 }

.simple1 {
  background-color: black;
  color: white;
}
.simple2 {
  display: inline;
}

.left1 {

   float:left;
}
 .right {
  float: right;
  padding: 0 20px 20px 0;
  
 }
 @media (max-width: 640px){
   .right {
     float: left;
   }
 }
.projects-main {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: black;
  color: white;
 
 
}
.projects1 {
padding-right: 2rem;
padding-top: 1rem;


}
.projects {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 1rem;
 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 10;
  background: black;  

}
@media (max-width:640px) {
  .projects {
    padding-left: 4rem;
    position: fixed;
    width: 100%;   
    
 
  }

}

.linked {
   border-radius: 50%;
   height: 100px;
   width: 100px;
}
@media (max-width: 640px) {
.linked {
  border-radius: 50%;
   height: 60px;
   width: 60px;

}
}
.linked:hover{
  transform: scale(1.5, 1.5);
}

.linked1 {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.linked1:hover {
  transform: scale(1.5, 1.5);
}
.linked2 {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.linked2:hover {
  transform: scale(1.5, 1.5);
} 

.linked3 {
  border-radius:50%;
  height: 30px;
  width: 30px;
}
.code-main {
  background-color: black;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5%;
  padding-right: 15%;
  padding-left: 15%;
}
.white {
  color: white;
  font-weight: bold;
  
}
pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
 }